html {
  font-size: 16px;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './fonts.css';
@import './type-scale.css';
@import './typography.css';
@import './layout.css';
@import './navigation.css';

body {
  @apply bg-blue;
  @apply text-lighter-gray;
}

:root {
  --color-teal: #63f1db;
  --color-blue: #0b1930;
  --color-slate: #182946;
  --color-light-gray: #96a8c6;
  --color-lighter-gray: #c7d6f6;
  --color-black: #0c1423;
  --color-white: #ffffff;
}