@media screen and (max-width: 782px) {
  body.admin-bar #wpadminbar + #site-header{
    top: 32px;
  }
}

#nav ul {
  @apply flex flex-col fixed left-0 top-[68px] w-full bg-black text-center justify-center opacity-0;
  z-index: -9999;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
  list-style: none;
  margin: 0;
}
#nav ul li {
  padding: 0;
}

#nav input#navToggle {
  display: none;
}
#nav input#navToggle:checked ~ ul {
  @apply opacity-100;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  #nav ul {
    position: relative;
    flex-direction: row;
    opacity: 1;
    z-index: 9999;
    top: unset;
    left: unset;
    transition: unset;
    pointer-events: all;
  }
  #nav label {
    display: none;
  }
}

/* HamburgerIcon */

.navToggle {
  display: block;
  position: relative;
  cursor: pointer; 
  width: 30px;
  padding: 6px 30px 9px 0; 
  box-sizing: border-box;
  @apply mr-7;
}

.navToggle span, 
.navToggle span:before, 
.navToggle span:after {
  height: 3px;
  width: 30px;
  @apply bg-white;
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -15px;
}

.navToggle span {
  transition: background-color 200ms ease 200ms;
  -webkit-transition: background-color 200ms ease 200ms;
}

.navToggle span:before {
  top: -12px;
  transition: top 100ms ease 100ms, transform 100ms ease;
  -webkit-transition: top 100ms ease 100ms, -webkit-transform 100ms ease;
}

.navToggle span:after {
  bottom: -12px;
  transition: bottom 100ms ease 100ms, transform 100ms ease;
  -webkit-transition: bottom 100ms ease 100ms, -webkit-transform 100ms ease;
}

.navToggle.isOpen-true span {
  background-color: transparent;
  transition: background-color 200ms ease;
  -webkit-transition: background-color 200ms ease;
}

.navToggle.isOpen-true span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: top 100ms ease 50ms, transform 100ms ease 200ms;
  -webkit-transition: top 100ms ease 50ms, -webkit-transform 100ms ease 200ms;
}

.navToggle.isOpen-true span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: bottom 100ms ease 50ms, transform 100ms ease 200ms;
  -webkit-transition: bottom 100ms ease 50ms, -webkit-transform 100ms ease 200ms;
}