#nav ul {
  @apply flex flex-col fixed left-0 top-[68px] w-full bg-black text-center justify-center opacity-0;
  z-index: -9999;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

#nav input#navToggle {
  display: none;
}
#nav input#navToggle:checked ~ ul {
  @apply opacity-100;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  #nav ul {
    position: relative;
    flex-direction: row;
    opacity: 1;
    z-index: 9999;
    top: unset;
    left: unset;
    transition: unset;
    pointer-events: all;
  }
  #nav label {
    display: none;
  }
}