
.carousel-root {
  @apply my-8;
}
.carousel .slide {
  display: flex;
  justify-content: center;
}
.carousel .slide img {
  @apply rounded-lg;
  max-height: calc(100dvh - 100px);
  max-width: 100%;
  height: auto;
  width: auto;
}
.carousel .thumbs-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
}
.carousel .thumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0 0 0;
}
.carousel .thumb {
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: .1rem dashed transparent;
}
.carousel .thumb img {
  @apply rounded;
  @apply object-cover;
  max-height: 4rem;
}
.carousel .thumb:hover {
  border-width: .1rem;
  @apply border-dashed border-teal;
}

.carousel .thumb.selected {
  border-width: .1rem;
  @apply border-dashed border-teal bg-teal;
}