/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --fontsize-xs: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
  --fontsize-sm: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
  --fontsize-base: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --fontsize-lg: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --fontsize-xl: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
  --fontsize-2xl: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
  --fontsize-3xl: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
  --fontsize-4xl: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);
}