.font-display {
  font-weight: 400;
}

a:not(.no-hover-style):hover,
a:not(.no-hover-style):focus,
a:not(.no-hover-style):focus-visible { 
  @apply bg-teal;
  @apply bg-opacity-10;
  outline-width: .1rem; 
  outline-style: dashed;
  outline-offset: -.1rem;
  @apply outline-teal; 
}

p > a:not(.navLink):hover,
p > a:not(.navLink):focus {
  padding-left: .25rem;
  padding-right: .25rem;
  margin-left: -.25rem;
  margin-right: -.25rem;
}

ul ul, ol ul { 
  list-style-type: circle; 
  list-style-position: outside; 
  margin-left: 1.25rem; 
}
ol ol, ul ol { 
  list-style-type: lower-latin; 
  list-style-position: outside; 
  margin-left: 1.25rem; 
}
ul li,
ol li {
  display: list-item;
}