.font-display {
  font-weight: 400;
}

a:hover,
a:focus,
a:focus-visible { 
  @apply bg-teal;
  @apply bg-opacity-10;
  outline-width: .1rem; 
  outline-style: dashed;
  outline-offset: -.1rem;
  @apply outline-teal; 
}

p > a:not(.navLink):hover,
p > a:not(.navLink):focus {
  padding-left: .25rem;
  padding-right: .25rem;
  margin-left: -.25rem;
  margin-right: -.25rem;
}